@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 22px;
}

a {
  color: black;
}

.container {
  height: auto;
  width: auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: white;
}

/*nav*/
.container nav,
header.treehouse-main,
section.marketing {
    padding: 0 72px;
}
.container nav ul{
  display: flex;
  height: 50px;
  list-style-type: none;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.container nav ul li {
  height: 50px;
  line-height: 50px;
  margin: 0 30px;
}

/*header*/
header.treehouse-main {
  background-color: gray;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header.treehouse-main img {
  height: 400px;
  width: 600px;
  margin-top: 40px;
}

header.treehouse-main h1 p {
  text-align: center;
}

header.treehouse-main .login {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 20px;
  border: 1px solid black;
}

header.treehouse-main .sign-up {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 20px;
  border: 1px solid black;

}

/*call-to-action*/
header.treehouse-main section.call-to-action {
  display: inherit;
}
section.call-to-action a {
  margin: 20px;
}

/*marketing*/
section.marketing {
  display: flex;
  height: 400px;
  background-color: silver;
  justify-content: space-around;
  text-align: center;
}

section.marketing img{
  height: 200px;
  width: 200px;
}

section.marketing .card {
  margin-top: 40px;
}
